---
name: "Lint"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
    - main
  pull_request:
    branches: ["*"]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: exsules/actions/markdown-lint@main
    - uses: exsules/actions/yaml-lint@main
